<%- include('../partials/head') %>
  <%- include('../partials/nav') %>

    <!-- Fill me in! -->
    <!-- CS5356 TODO #1 Add your landing page here -->
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">Empty Void</h1>
          <h2 class="subtitle">A personal abyss for your thoughts</h2>
        </div>
      </div>
    </section>

    <section>
      <div style="padding: 10px; border: 1px solid lightgray; margin: 10px; text-align:center">
        <h2 class="title">The Problem</h2>
        <p>Want to scream and shout and let it all out, but no one has ears to lend at the moment? Throw it all into the
          void.</p>
      </div>
    </section>

    <section class="hero">
      <div style="padding: 10px; border: 1px solid lightgray; margin: 10px; text-align:center">
        <h2 class="title">The Solution</h2>
        <p>A web app that allows you to rant about whatever is on your mind.</p>
      </div>
    </section>

    <section>
      <div style="padding: 10px; border: 1px solid lightgray; margin: 10px; text-align:center">
        <h2 class="title">Feature Set</h2>
        <div class="columns">
          <div class="column">
            <div class="card-content">
              <h2 class="subtitle"><strong>Post Your Public or Private Thoughts.</strong></h2>
              <p>Trivial thoughts? No such thing. Throw it into the void for the world to see or to disappear forever.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card-content">
              <h2 class="subtitle"><strong>See What's On Others' Minds.</strong></h2>
              <p>Use the public postings feed to see the sufferings of the Empty Void community.</p>
            </div>
          </div>
          <div class="column">
            <div class="card-content">
              <h2 class="subtitle"><strong>Exclusive Access to the Community.</strong></h2>
              <p>Be part of the elite group of Empty Voiders. It's free and therapeutic!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div style="padding: 10px; border: 1px solid lightgray; margin: 10px; text-align:center">
        <h2 class="title">New User?</h2>
        <!-- <p>Sign Up Here!</p> -->
        <a href="/sign-up" class="button is-primary">Sign Up</a>
      </div>
    </section>


    <%- include('../partials/footer') %>