<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>

</head>

<script src="https://www.gstatic.com/firebasejs/9.6.9/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.9/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.9/firebase-auth-compat.js"></script>
<script>
   const firebaseApp = firebase.initializeApp({ 
      apiKey: "AIzaSyD7iI_l0XTIhgiyQzaw5PADbdWFia7B9CY",
      authDomain: "emptyvoid-47fab.firebaseapp.com",
      projectId: "emptyvoid-47fab",
      storageBucket: "emptyvoid-47fab.appspot.com",
      messagingSenderId: "493812433604",
      appId: "1:493812433604:web:fbfa8519284e8eef86bf91",
      measurementId: "G-8TKK2V9JSY"
    });
   const db = firebaseApp.firestore();
   const auth = firebaseApp.auth();
</script>

<body>
  <header>
    <%- include('../partials/nav', { email: user.email }) %>
  </header>

  <div class="container">
    <div class="columns">x
      <div class="column is-3 " style="text-align: right;">
        <aside class="menu">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a>Home</a></li>
            <li><a><b>Profile</b></a></li>
            <li><a>Private Posts</a></li>
          </ul>
        </aside>
      </div>
      <div class="column is-4">
        <div class="mb-6">
          <div class="has-text-weight-bold mb-2; text-align:center">
            Hello, username!
          </div>
          <div class="has-text-weight-bold mb-2; text-align:center">
            You currently have # posts in your Void.
          </div>
          <div class="has-text-weight-bold mb-2; text-align:center">
            Email: email
          </div>
          <a href="" class="button is-primary">Log Out</a>
        </div>
      </div>

    </div>
  </div>

</body>

<%- include('../partials/footer') %>

</html>