<!DOCTYPE html>
<html lang="en">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cover - Free Bulma template</title>
  <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" /> 
  <style type="text/css">
      html,
      body {
          font-family: 'Open Sans';
      }

      img {
          padding: 5px;
          border: 1px solid #ccc;
      }
  </style>
</head>

<script src="https://www.gstatic.com/firebasejs/9.6.9/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.9/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.9/firebase-auth-compat.js"></script>
<script>
   const firebaseApp = firebase.initializeApp({ 
      apiKey: "AIzaSyD7iI_l0XTIhgiyQzaw5PADbdWFia7B9CY",
      authDomain: "emptyvoid-47fab.firebaseapp.com",
      projectId: "emptyvoid-47fab",
      storageBucket: "emptyvoid-47fab.appspot.com",
      messagingSenderId: "493812433604",
      appId: "1:493812433604:web:fbfa8519284e8eef86bf91",
      measurementId: "G-8TKK2V9JSY"
    });
   const db = firebaseApp.firestore();
   const auth = firebaseApp.auth();
</script>

<body>
  <section class="hero is-fullheight is-default is-bold">
    <div class="hero-head">
      <nav class="navbar">
          <div class="container">
              <div class="navbar-brand">
                  <a class="navbar-item" href="../">
                  </a>
                  <span class="navbar-burger burger" data-target="navbarMenu">
                      <span></span>
                      <span></span>
                      <span></span>
                  </span>
              </div>
              <div id="navbarMenu" class="navbar-menu">
                  <div class="navbar-end">
                      <div class="tabs is-right">
                          <ul>
                              <li><a href="/">Home</a></li>
                              <li><a href="/sign-in">Sign In</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </nav>
  </div>
    <div class="columns is-multiline">
      <div class="column is-8 is-offset-2 register">
        <div class="columns">
          <div class="column left">
            <h1 class="title is-1">Empty Void</h1>
            <h2 class="subtitle colored is-4 has-text-info">A personal abyss for your thoughts.</h2>
            <p>Throw it all into the void and watch it disappear.</p>
          </div>
          <div class="column right has-text-centered">
            <h1 class="title is-4">Sign Up</h1>
            <p class="description">Join the community.</p>
            <form id = 'login-form'>
              <div class="field">
                <div class="control">
                  <input class="input is-medium" type="email" placeholder="Email" name="login">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-medium" type="password" placeholder="Password" name="password">
                </div>
              </div>
              <div id="login-error" style="display: none;">
              </div>
              <p class="has-text-grey"></p>
              <button class="button is-medium is-info is-fullwidth is-medium">Create Account</button>
              <br />
              <small><em>Already have an account? <a href="/sign-in">Sign In</a> </em> </small>
              </p>
            </form>
          </div>
        </div>
      </div>
      <div class="column is-8 is-offset-2">
        <br>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <span class="icon">
              </span> &emsp;
              <span class="icon">
              </span> &emsp;
              <span class="icon">
              </span> &emsp;
              <span class="icon">
              </span> &emsp;
              <span class="icon">
              </span>
            </div>
          </div>
          <div class="level-right">
            <small class="level-item" style="color: var(--textLight)">
              
            </small>
          </div>
        </nav>
      </div>
    </div>
  </section>
</body>
<style>
  :root {
    --brandColor: hsl(204, 86%, 53%);
    --background: rgb(247, 247, 247);
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: hsla(0, 0%, 0%, 0.33);
  }

  body {
    background: var(--background);
    height: 100vh;
    color: var(--textDark);
  }

  .field:not(:last-child) {
    margin-bottom: 1rem;
  }

  .register {
    margin-top: 10rem;
    background: white;
    border-radius: 10px;
  }

  .left,
  .right {
    padding: 4.5rem;
  }

  .left {
    border-right: 5px solid var(--background);
  }

  .left .title {
    font-weight: 800;
    letter-spacing: -2px;
  }

  .left .colored {
    color: var(--brandColor);
    font-weight: 500;
    margin-top: 1rem !important;
    letter-spacing: -1px;
  }

  .left p {
    color: var(--textLight);
    font-size: 1.15rem;
  }

  .right .title {
    font-weight: 800;
    letter-spacing: -1px;
  }

  .right .description {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    color: var(--textLight);
    font-size: 1.15rem;
  }

  .right small {
    color: var(--textLight);
  }

  input {
    font-size: 1rem;
  }

  input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
  }

  .fab,
  .fas {
    color: var(--textLight);
    margin-right: 1rem;
  }

</style>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      // CS5356 TODO #2
      // Copy your Firebase config here too
      apiKey: "AIzaSyD7iI_l0XTIhgiyQzaw5PADbdWFia7B9CY",
      authDomain: "emptyvoid-47fab.firebaseapp.com",
      projectId: "emptyvoid-47fab",
      storageBucket: "emptyvoid-47fab.appspot.com",
      messagingSenderId: "493812433604",
      appId: "1:493812433604:web:fbfa8519284e8eef86bf91",
      measurementId: "G-8TKK2V9JSY"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard

        app.auth().createUserWithEmailAndPassword(login, password)
          .then((userCredential) => {
            // Signed in 
            var user = userCredential.user;
            var uid = "user" + user.uid; 
            var email = user.email; 

            user.getIdToken().then((idToken) => {
              fetch('/sessionLogin', { 
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ idToken, isSignUp: true })
              }).then(() => {
                window.location.href = '/dashboard'
                // db.collection("users").add({
                //   email: email, 
                //   username: uid,
                //   numPosts: 0
                // })
                // .then((docRef) => {
                //     console.log("Document written with ID: ", docRef.id);
                //     window.location.href = '/dashboard'
                // })
                // .catch((error) => {
                //     console.error("Error adding document: ", error);
                // });
              })
            })
            // ...
          })
          .catch((error) => {
            var errorCode = error.code;
            var errorMessage = error.message;
            // ..
          });

        return false;
      });
  };
</script>

</html>








