<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<script src="https://www.gstatic.com/firebasejs/9.6.9/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.9/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.9/firebase-auth-compat.js"></script>
<script>
   const firebaseApp = firebase.initializeApp({ 
      apiKey: "AIzaSyD7iI_l0XTIhgiyQzaw5PADbdWFia7B9CY",
      authDomain: "emptyvoid-47fab.firebaseapp.com",
      projectId: "emptyvoid-47fab",
      storageBucket: "emptyvoid-47fab.appspot.com",
      messagingSenderId: "493812433604",
      appId: "1:493812433604:web:fbfa8519284e8eef86bf91",
      measurementId: "G-8TKK2V9JSY"
    });
   const db = firebaseApp.firestore();
   const auth = firebaseApp.auth();
</script>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <div class="container">
    Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
    <form id="login-form">
      <label>Login</label>
      <input id="login" type="text" name="login" />
      <label>Password</label>
      <input type="password" name="password" />
      <button>Sign Up</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <a href="/dashboard">Dashboard</a>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      // CS5356 TODO #2
      // Copy your Firebase config here too
      apiKey: "AIzaSyD7iI_l0XTIhgiyQzaw5PADbdWFia7B9CY",
      authDomain: "emptyvoid-47fab.firebaseapp.com",
      projectId: "emptyvoid-47fab",
      storageBucket: "emptyvoid-47fab.appspot.com",
      messagingSenderId: "493812433604",
      appId: "1:493812433604:web:fbfa8519284e8eef86bf91",
      measurementId: "G-8TKK2V9JSY"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard

        app.auth().createUserWithEmailAndPassword(login, password)
          .then((userCredential) => {
            // Signed in 
            var user = userCredential.user;
            var uid = "user" + user.uid; // how to get uid
            var email = user.email; // how to get email

            user.getIdToken().then((idToken) => {
              fetch('/sessionLogin', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ idToken })
              }).then(() => {
                window.location.href = '/dashboard'
                // db.collection("users").add({
                //   email: email, 
                //   username: uid
                // })
                // .then((docRef) => {
                //     console.log("Document written with ID: ", docRef.id);
                //     window.location.href = '/dashboard'
                // })
                // .catch((error) => {
                //     console.error("Error adding document: ", error);
                // });
              })
            })
            // ...
          })
          .catch((error) => {
            var errorCode = error.code;
            var errorMessage = error.message;
            // ..
          });

        return false;
      });
  };
</script>

</html>