<%- include('../partials/head') %>
  <%- include('../partials/add-topics-modal') %>



    <div class="columns is-multiline">
      <div class="column is-8 is-offset-2 register">
        <div class="columns">
          <div class="column left">
            <h1 class="title is-1">Empty Void</h1>
            <h2 class="subtitle colored is-4 has-text-info">A personal abyss for your thoughts.</h2>
            <p>Throw it all into the void and watch it disappear.</p>
          </div>
          <div class="column right has-text-centered">
            <h1 class="title is-4">Sign Up</h1>
            <p class="description">Join the community.</p>
            <form id='login-form' class="signupForm">
              <div class="field">
                <div class="control">
                  <input id="emailField" class="input is-medium" type="email" placeholder="Email" name="login">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input id="passwordField" class="input is-medium" type="password" placeholder="Password"
                    name="password">
                </div>
              </div>
              <div id="login-error" style="display: none;">
              </div>
              <p class="has-text-grey"></p>
              <button id="signUpButton" class="button is-medium is-info is-fullwidth is-medium">Create Account</button>
              <br />
              <small><em>Already have an account? <a href="/sign-in">Sign In</a> </em> </small>
              </p>
            </form>
          </div>
        </div>
      </div>
      <div class="column is-8 is-offset-2">
        <br>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <span class="icon">
              </span> &emsp;
              <span class="icon">
              </span> &emsp;
              <span class="icon">
              </span> &emsp;
              <span class="icon">
              </span> &emsp;
              <span class="icon">
              </span>
            </div>
          </div>
          <div class="level-right">
            <small class="level-item" style="color: var(--textLight)">

            </small>
          </div>
        </nav>
      </div>
    </div>
 


    <%- include('../partials/footer') %>